@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500&display=swap');
@import url('https://fonts.cdnfonts.com/css/glacial-indifference-2');

@media screen and (max-width: 1024px) {

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: nome;
  
}



    body{
    
    font-size: 100%;
    background: gray;
    width: 100%;
	  height: 100%;
	  margin: 0;   
    
}

html{
  scroll-behavior: smooth;
  
}


  

.cabecalho{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 1.5rem;
    background-color: black; 
    width: 100%;
}

.cabecalho-imagem{
    height: 3.464rem;
    
}

.cabecalho-menu{

    display: none;
    gap: 1rem;
}

.cabecalho-menu-item{
    font-family: 'Glacial Indifference', sans-serif;
    color: white;
    font-weight: 500;
    font-size: 0.7rem;
    text-decoration: none;
}


.cabecalho-menu-item:hover{
  color:#00caf8;
  transition-duration: 0.5s;
}



.conteudo {


    height: 100%;
    width: 100%;

    background-image: url(./BG1HomeMobile.svg);
    background-size: cover;
    
    
    background-color: black;
    
  }

  .conteudo-principal {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
  }

  .conteudo-principal-escrito {

    margin-top: 15rem;
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
    text-align: center;
  }

  .conteudo-principal-escrito-titulo {
    font-family: 'League Spartan', sans-serif;
    font-weight: 600;
    font-size: 2.9rem;
    color: white;
  }

  .conteudo-principal-escrito-subtitulo {
    font-family: 'Glacial Indifference', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: white;
  }

  .conteudo-principal-escrito-botao {
    display: inline-block;
    background-color: #0c6ebd;
    width: 20.296rem;
    height: 3.321rem;
    border: none;
    border-radius: 0.5rem;
    font-family: 'Garet', sans-serif;
    font-weight: 550;
    font-size: 0.8rem;
    color: white;
    cursor: pointer;

    &:hover {

      background-color: rgb(6, 199, 70)
  }

  &:active {

    background-color: rgb(5, 255, 88); }

  }

  .conteudo-principal-redessociais{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    
  }

  .conteudo-principal-escrito-chamamento{
    font-family: 'League Spartan', sans-serif;
    font-weight: 1000;
    font-size: 1rem;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 12rem;
  }

  .conteudo-principal-imagemtraco{
    height: 0.180rem;
    margin-bottom: 12rem;
  }

  .conteudo-principal-imagem-facebook{
    margin-bottom: 12rem;
  }

  .conteudo-principal-imagem-instagram{
    margin-bottom: 12rem;
  }

  .conteudo-principal-imagempessoa1{
    margin-top: 3rem;
    height: 22.71rem;
    display: none;
  }


  
  .conteudo2 {
    overflow: hidden;
    margin-bottom: 0rem;
    height: 62.5rem;
    width: 100%;
   background-image: url(./bgc2mobile.png);
    background-size: cover
    
  }

  .conteudo-principal2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }

    .bloco-de-conteudo{
     
      margin-top: 7rem;
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: space-around;
      
      
      
    }
    
    .video{
      position:absolute;
      width: 350px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      object-fit: cover;
      outline: 0;
    }

    .videoframe{
      width: 350px;
      height: 200px;
    }

  .conteudo-principal-escrito2{
    
    bottom: -20rem;
    padding: 4rem;
    position:relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .conteudo-principal-escrito-titulo2{
    font-family: 'League Spartan', sans-serif;
    font-weight: 600;
    font-size: 2.594rem;
    color: white;
    text-align: center;
  }

.conteudo-principal-escrito-subtitulo2{
    font-family: 'Glacial Indifference', sans-serif;
    font-weight: 400;
    font-size: 1.188rem;
    color: white;
    text-align: center;
}

.conteudo-principal-escrito-botao2{
    background-color: #0c6ebd;
    width: 20.266rem;
    height: 4rem;
    border: none;
    border-radius: 0.5rem;
    font-family: 'Garet', sans-serif;
    font-weight: 790;
    font-size: 0.813rem;
    color: white;
    cursor: pointer;

    &:hover {

      background-color: rgb(6, 199, 70)
  }

  &:active {

    background-color: rgb(5, 255, 88); }
}

.conteudo3{
    margin-bottom: 0rem;
    width: 100%;
    background-image: url(./bgc3mobile.png);
    background-size: 100%;
    background-repeat: no-repeat; 
    background-size: cover;
    
    
}

.conteudo-principal3{  
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-around;
    gap: 1.5rem;
  
}

.conteudo-principal-imagempessoa2{
    height: 17rem;
    margin-top: 3rem;
    

}


.conteudo-principal-escrito3{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 9.5rem;
    
}

.conteudo-principal-escrito-titulo3{
    font-family: 'League Spartan', sans-serif;
    font-weight: 600;
    font-size: 2.981rem;
    color: white;
    text-align: center;
    
    
}

.conteudo-principal-escrito-subtitulo3{
    font-family: 'Glacial Indifference', sans-serif;
    font-weight: 400;
    font-size: 1.063rem;
    color: white;
    text-align: center;

    
}

.conteudo-principal-escrito-botao3{
    background-color: #0c6ebd;
    width: 20.537rem;
    height: 2.693rem;
    border: none;
    border-radius: 0.2rem;
    font-family: 'Garet', sans-serif;
    font-weight: 790;
    font-size: 0.813rem;
    color: white;
    cursor: pointer;

    &:hover {

      background-color: rgb(6, 199, 70)
  }

  &:active {

    background-color: rgb(5, 255, 88); }
}

.conteudo4{
   
  height: 100.5rem;
  width: 100%;
    background-image: url(./bgc4mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
    
    
}

.conteudo-principal4{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    
}

.conteudo-principal-titulo{
    margin-top: 15rem;
    display: flex;
    flex-direction: column;
    gap: 21.25rem;
    justify-content: center;
}

.conteudo-principal-escrito-titulo4{
    font-family: 'League Spartan', sans-serif;
    font-weight: 600;
    font-size: 1.7rem;
    color: white;
    text-align: center;
}

.conteudo-principal-escrito4{

    gap: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 1.5rem;
    /*overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-padding-left: 100%;
    scroll-snap-type:mandatory;*/
        
}

 .bloco-de-texto-1{
    /*scroll-snap-align: start;*/
    display: flex;
    align-items: center;
    font-family: 'Glacial Indifference', sans-serif;
    font-weight: 400;
    font-size: 1.063rem;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    color: white;
    text-align: center;
    min-width: 18.75rem ;
    width: 18.75rem;
    height: 18.75rem;
    border: 2px solid white;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 1.563rem; 
    
} 

.bloco-de-texto-2{
    /*scroll-snap-align: center;*/
    display: flex;
    align-items: center;
    font-family: 'Glacial Indifference', sans-serif;
    font-weight: 400;
    font-size: 1.063rem;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    color: white;
    text-align: center;
    min-width: 18.75rem ;
    width: 18.75rem;
    height: 18.75rem;
    border: 2px solid white;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 1.563rem;
    
}

.bloco-de-texto-3{
    /*scroll-snap-align: end;*/
    display: flex;
    align-items: center;
    font-family: 'Glacial Indifference', sans-serif;
    font-weight: 400;
    font-size: 1.063rem;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    color: white;
    text-align: center;
    min-width: 18.75rem ;
    width: 18.75rem;
    height: 18.75rem;
    border: 2px solid white;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 1.563rem;
    
}


.botao-div-3{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.conteudo-principal-escrito-botao4{
    background-color: #0c6ebd;
    width: 18.75rem;
    height: 3.125rem;
    border: none;
    border-radius: 0.3rem;
    font-family: 'Garet', sans-serif;
    font-weight: 790;
    font-size: 0.813rem;
    color: white;
    margin-bottom: 1.25rem;
    cursor: pointer;

    &:hover {

      background-color: rgb(6, 199, 70)
  }

  &:active {

    background-color: rgb(5, 255, 88); }
}






.conteudo6{
  height: 57.5rem;
  width: 100%;

    background-image: url(./bgc6mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.conteudo-principal6{
  margin-top: 0rem;
}

.bloco-de-conteudo-6{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-around;

}

.conteudo-principal-escrito6{
  text-align: center;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-items:center;
  gap: 2.375rem;



}

.conteudo-principal-escrito-titulo6{

  display: flex;
  margin-top: 3rem;
  font-family: 'League Spartan', sans-serif;
  font-weight: 600;
  font-size: 2.2rem;
  color: #00caf8;
    
}

.conteudo-principal-escrito-texto6{
  display: flex;
  font-family: 'Glacial Indifference', sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  color: black;
  
}

.conteudo-principal-imagemlogoativos{

  margin-top: 11rem;
  width: 17.849rem;
 
}

}
